/* CSS reset by Josh W. Comeau */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* Things I actually added */
@font-face {
    font-family: "Space Mono";
    src:
        url("../assets/fonts/spacemono/spacemono-regular-webfont.woff2")
            format("woff2"),
        url("../assets/fonts/spacemono/spacemono-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src:
        url("../assets/fonts/spacemono/spacemono-bold-webfont.woff2")
            format("woff2"),
        url("../assets/fonts/spacemono/spacemono-bold-webfont.woff")
            format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    color: #ffffff;
    font-family: "Space Mono", monospace;
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #000000;
}

:root::-webkit-scrollbar {
    display: none;
}

section {
    height: 100vh;
    padding: 4rem 8rem;
}

.hero {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "me about";
}

.about,
.title {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
}

.about {
    gap: 1.5rem;
    grid-area: "about";
}

.title {
    gap: 0.5rem;
    grid-area: "me";
}

.social-links {
    display: flex;
    gap: 10px;
}

.link-btn {
    border: none;
    background-color: black;
}

.logo {
    height: 30px;
    width: auto;
    background-color: black;
    border: 0px;
    transition:
        filter 0.3s ease-out,
        transform 0.3s ease-out;
}

.link-btn:hover .logo {
    filter: brightness(3);
    transform: scale(1.1);
}

.page-icon {
    max-height: 500px;
    max-width: auto;
    height: auto;
    width: auto;
}

h1 {
    font-weight: bolder;
    font-size: 3rem;
}

@media (max-width: 768px) {
    section {
        height: auto;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-template-areas:
            "me"
            "about";
    }
}
